<div class="header">
    <div class="year">{{ currentYear }}</div>
    <div class="date">{{ currentDayOfWeek.short }}, {{ currentDay}}. {{ currentMonth.short }}</div>
</div>
<div class="nav">
    <button mat-icon-button class="left" (click)="onPrevMonth()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="title">
        <div [@calendarAnimation]="animate">{{ displayMonth.full }} {{ displayYear }}</div>
    </div>
    <button mat-icon-button class="right" (click)="onNextMonth()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
<div class="content">
    <div class="labels">
        <div class="label" *ngFor="let day of dayNames">
            {{ day.letter }}
        </div>
    </div>
    <div [@calendarAnimation]="animate" class="month">
        <div *ngFor="let day of displayDays" class="day" (click)="onSelectDate(day)" [ngClass]="getDayBackgroundColor(day)">
            <span *ngIf="day != 0" [ngClass]="getDayForegroundColor(day)">
                {{ day.getDate() }}
              </span>
        </div>
    </div>
</div>
<div class="footer">
    <a mat-button (click)="onToday()">Today</a>
    <a mat-button (click)="onCancel()">Cancel</a>
    <a mat-button (click)="onOk()">Ok</a>
</div>
